.container
	margin 1em
	padding 0 1em 2em 1em
	position relative

svg
	display block

	circle

		&.dem
			fill blue

		&.gop
			fill red

		&.ind
			fill green

		&.none
			fill grey

.plumbline
	border-left dashed grey 1px
	position absolute
	top 0
	left 50%
	height 100%
